*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

h1{
    color: white;
    font-size: 40px;
    padding: 60px;
    text-align: center;
    text-shadow: 0 0 20px #ac0120 ;
}

body{
    background: radial-gradient(#eba856,#da3223);
    text-align: center;
}

#container{
    box-shadow: 0 0 50px #b0253f;
    width: 1690px;
    height: 645px;
    border: 5px solid #b0253f;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    background: radial-gradient( #da3223,#eba856);
}
.card{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 10px;
    perspective: 1000px;
    box-shadow: 0 0 5px black;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}

.back{
    background: url("../../pages/Fases/Fase3/Default.png");
}

.back.flipped{
    transform: rotateY(180deg);
}

.front{
    transform: rotateY(-180deg);
}

.front.flipped{
    transform: rotateY(0deg);
}

.card:hover, .face.flipped{
    box-shadow: 0 0 50px #b0253f;
}

.face.flipped.match{
    box-shadow: 0 0 50px #b0253f;
}

#modalGameOver{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#imgGameOver{
    margin-top: 100px;
}

#match{
    position: relative;
    top: 250px;
    transition-property: top, opacity;
    transition-duration: 2.0s;
    opacity: 1;
    z-index: -1; 
}
button{
    border-radius: 5px;
    color: white;
    background-color: #165a37;
    border-color: #8d8258;
    box-shadow: 0 0 5px #b0253f;
    text-align: center;
}
p{
    color: white;
    text-shadow: 0 0 10px #b0253f;
    text-align: center;
    font-size: 20PX;
}
.player{
    position: absolute;
    left: 5px;
    top: 5px;
}

